.infoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(247, 243, 48);
    border-radius: 4px 4px 0 0;
    height: 60px;
    width: 100%;
  }
  
  .leftInnerContainer {
    flex: 0.5;
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: black;
  }
  
  
  .onlineIcon {
    margin-right: 10%;
  }